include README.md LICENSE
recursive-include configs *.json *.key
recursive-include docs *.md *.svg
recursive-include data .gitkeep
recursive-include src/azicure/admin/templates *.html
recursive-include src/azicure/admin/static *
